
header {
  background-color: rgba(223, 230, 233, 1) !important;
  text-align: center;
  height: auto;
}

footer {
  background-color: rgb(149, 165, 166);
  text-align: center;
  min-width: 100%;
  height: 80px;
}
.menu {
  padding-top: 50px;
  text-align: center;
}
h1 {
  margin: 0 auto;
  color: rgb(192, 57, 43);
}

thead {
  background-color: rgb(27, 22, 22);
  color: white;
}

