<!--The content below is only a placeholder and can be replaced.-->

<header>
  <div class="mdc-layout-grid--align-center">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <h1>
          Are you ready?
          <!-- I wanna have some game with you {{ title }} -->
        </h1>
        <div class="game p-5">
          <img
            class="foto"
            src="https://media.tenor.com/images/bd57fcffcc4e6858aef357aec85de36e/tenor.gif"
          />
        </div>
        <h3 id="demo"></h3>
      </div>
    </div>
  </div>
</header>

<div class="menu">
  <div class="mdc-layout-grid--align-center">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <form class="one" [formGroup]="creationForm">
          <div class="mdc-text-field">
            <!--ngModel est balance quoi-->
            <input
              class="mdc-text-field__input"
              id="text-field-hero-input"
              name="name"
              [(ngModel)]="user.name"
              required
              formControlName="name"
            />
            <div class="mdc-line-ripple"></div>
            <label
              for="text-field-hero-input"
              class="mdc-floating-label"
            ></label>
          </div>

          <div>
            <button class="mdc-fab mdc-fab" (click)="createUserNew()">
              <!-- <button class="mdc-fab mdc-fab" type="submit" > -->
              <span class="material-icons mdc-fab__icon">add</span>
              <span class="mdc-fab__label"></span>
            </button>
            <button
              (click)="showDivNew()"
              class="mdc-fab bgButton"
              aria-label="Favorite"
            >
              <i class="material-icons">all_inclusive</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<main>
  <div class="container ">
    <div class="row pt-5">
      <div class="col-sm">
        <table class="table table-bordered p-4">
          <thead>
            <tr>
              <th scope="col">Numero</th>
              <th scope="col">Users</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userGetList$ | async; let i = index">
              <th scope="row">{{ i }}</th>
              <td>{{ user.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm" id="welcomeDiv" style="display:none;">
        <table class="table table-bordered ">
          <thead>
            <tr>
              <th scope="col">Groupe N°</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let groups of groupList; let i = index">
              <tr *ngFor="let group of groups">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ group.name }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button
      class="mdc-fab cvet"
      aria-label="tag_faces"
      (click)="toggleDisplay()"
    >
      <span class="mdc-fab__icon material-icons">tag_faces</span>
    </button>
    <button
      class="mdc-fab cvet"
      aria-label="mood_bad"
      (click)="toggleDisplay2()"
    >
      <span class="mdc-fab__icon material-icons">mood_bad</span>
    </button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm" *ngIf="isShow">
        Premier div Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Asperiores, amet? Deserunt earum hic placeat modi deleniti cum quisquam
        magnam distinctio laborum nobis inventore quasi temporibus nemo, vero
        maiores adipisci architecto? Quasi quae est at blanditiis voluptates
        eveniet repellendus commodi dolorem dignissimos aspernatur veritatis
        ducimus nesciunt exercitationem odio sed corrupti ipsam deleniti facere,
        nostrum aliquam beatae eos reiciendis impedit officia! Quidem! Id optio
        ipsum sint quidem, eum quisquam in aliquam error esse beatae ducimus cum
        provident pariatur reiciendis vel molestiae sunt corporis alias nihil
        saepe nam vitae aliquid. Repellat, nam delectus!
      </div>
      <div class="col-sm" *ngIf="isShow2">
        deuxiem div Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Temporibus a aliquam odit ea fugit nemo velit placeat itaque? Esse
        expedita beatae harum, nobis ipsa doloremque explicabo ut minus eaque
        quo. Ut, reprehenderit dolorem. Commodi quod necessitatibus enim
        possimus ab provident autem accusamus vitae ex, vero sint aperiam
        reiciendis fugiat officiis cumque, praesentium exercitationem minus iure
        repudiandae nam quo dignissimos! Velit. Placeat veritatis nam saepe
        libero obcaecati aspernatur nisi quas accusamus. Ipsum expedita vel
        reprehenderit! Dolorum odit, odio, ab, quod nemo consequuntur quidem
        dolor ratione quisquam animi eius totam cupiditate fuga!
      </div>
    </div>
  </div>
</main>

<footer>
  <h4 class="pt-2">Only one group can make it out alive ...</h4>
</footer>
<router-outlet></router-outlet>
